@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alkatra:wght@400..700&family=Kavivanar&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.name{
    font-family: "Alkatra", system-ui;
    color: #ff0062;
    text-shadow: 3px 3px #ff5050;
}
.stack{
    font-family: "Acme", sans-serif;
}
.card{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card button{
    background-color: #ff0062;
}
.tamil{
    font-family: "Kavivanar", cursive;
}
.heading1{
    color: #007a51;
}
.heading2{
    color: #ff7300;
}
.heading3{
    color: #ff0040;
}
.color1{
    color: #039e6a;
}
.color2{
    color: #f75629;
}
.color3{
    color: #ff1b98;
}
@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }
}
@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}
